<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
  <pre>Form Status: {{ profileForm.value | json }}</pre>
  <p>Form Status: {{ profileForm.status }}</p>
  <div>
    <h3>General info</h3>
    <label for="first-name">First Name: </label>
    <input id="first-name" type="text" class="form-control" formControlName="firstName">

    <label for="last-name">Last Name: </label>
    <input id="last-name" type="text" class="form-control" formControlName="lastName">
    <p>Complete the form to enable button.</p>
  </div>

  <hr>

  <div formGroupName="address">
    <h3>Address</h3>
  
    <div class="row">
      <div class="col">
        <label for="street">Street: </label>
        <input id="street" class="form-control" type="text" formControlName="street">
      </div>
      <div class="col">
        <label for="city">City: </label>
        <input id="city" class="form-control" type="text" formControlName="city">
      </div>
    </div>
    <div class="row">
      <div class="col">
        <label for="state">State: </label>
        <input id="state" class="form-control" type="text" formControlName="state">
    </div>
    <div class="col">
      <label for="zip">Zip Code: </label>
      <input id="zip" class="form-control" type="text" formControlName="zip">
    </div>
    </div>
  </div>

  <hr>

  <div formArrayName="aliases">
    <h3 class="mt-2">Aliases</h3>
    <button class="btn btn-info mt-2 me-2" (click)="addAlias()" type="button">+ Add another alias</button>
  
    <div *ngFor="let alias of aliases.controls; let i=index">
      <!-- The repeated alias template -->
      <label for="alias-{{ i }}" class="mt-2">Alias {{ i + 1}}:</label>
      <input id="alias-{{ i }}" class="form-control" type="text" [formControlName]="i">
    </div>
  </div>

  <button type="submit" class="btn btn-info mt-2 me-2 mb-5" [disabled]="!profileForm.valid">Submit</button>
  <button type="button" class="btn btn-primary mt-2 mb-5" (click)="updateProfile()">Update Profile</button>
</form>