<div class="card mb-3">
  <div class="card-header bg-info text-white">
    {{ nom }}
  </div>
  <div class="card-body">
    <div class="row">
      <label for="item-input">Add an item:</label>
      <div class="col">
        <input type="text" id="item-input" class="form-control mb-2" #newItem>
      </div>
      <div class="col">
        <button (click)="addNewItem(newItem.value)" class="btn btn-primary">Add to parent's list</button>
      </div>
    </div>

  </div>
  <div class="card-footer">
    {{ preNom }}
  </div>
</div>
