<div class="card">
    <div class="card-header bg-info text-white"> S'enregistrer</div>
    <div class="card-body">
        <form (ngSubmit)="saveData(registerForm)" #registerForm="ngForm">
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label> Nom</label>
                    <input type="text"class="form-control" placeholder="nom" [(ngModel)]="user.firstName" name="firstName">
                </div>
                <div class="col-md-6 mb-3">
                    <label> Prenom</label>
                    <input type="text" class="form-control" placeholder="prenom" [(ngModel)]="user.lastName"  name="lastName">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label> Email</label>
                    <input type="text" class="form-control" placeholder="email" [(ngModel)]="user.email" name="email">
                </div>
            </div>
            <div class="text-end">
                <button class="btn btn-info" type="submit"> Sauvegarder</button>
            </div>
        </form>
    </div>
</div>