<div class="card">
    <div class="card-header bg-info text-white"> S'enregistrer</div>
    <div class="card-body">
        <form>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label> Nom</label>
                    <input type="text" class="form-control" placeholder="nom">
                </div>
                <div class="col-md-6 mb-3">
                    <label> Prenom</label>
                    <input type="text" class="form-control" placeholder="prenom">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label> Email</label>
                    <input type="text" class="form-control" placeholder="email">
                </div>
            </div>
            <div class="text-end">
                <button class="btn btn-info"> Sauvegarder</button>
            </div>
        </form>
    </div>
</div>